body {
  background-color: #448344;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.image-responsive {
  display: block;
  margin: 0;
  width: 100%;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-colums {
  grid-template-columns: 1fr 1fr;
}

.grid-3-colums-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-colums {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: #fff;
  margin: 30px 0;
}

.card-header {
  grid-gap: 0;
}

.embed {
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 30px 0;
}

.card .btn {
  background-color: #448344;
  color: #fff;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../src/images/panda-background-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
}

header h1,
h2,
h3 {
  color: #fff;
  margin: 0;
  text-align: center;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
}

header h2 {
  font-size: 38px;
  font-weight: 400;
  line-height: 1.5;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
}

header a {
  background-color: #fff;
  color: #000;
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  margin: 0 auto;
  margin-top: 32px;
  max-width: fit-content;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background-color: #fff;
}

main img {
  margin-top: 100px;
  max-width: 500px;
}

main h2 {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

main h3 {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
  opacity: 0.3;
  text-transform: uppercase;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  margin: 0;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 120px;
}

.secondary {
  background-color: #f2f3f5;
}

footer {
  background-image: linear-gradient(
      rgba(47, 91, 47, 0.8),
      rgba(47, 91, 47, 0.9)
    ),
    url("../src/images/footer-picture.jpg");
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
}

footer ul {
  padding: 0;
}

footer li {
  line-height: 1.5;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #fff;
  opacity: 0.7;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 44px;
  }

  header h2 {
    font-size: 19px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 8px 16px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    display: block;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }

  section {
    padding: 30px;
  }

  main img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 300px;
  }

  main h2 {
    font-size: 24px;
  }

  main h3 {
    font-size: 12px;
  }

  main h4 {
    font-size: 16px;
  }

  main p {
    font-size: 13px;
  }
}
